In [1]:
# Assignment 2

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
data={
    'Category':['a','b','b','c','a']
}
data

{'Category': ['a', 'b', 'b', 'c', 'a']}

In [9]:
df=pd.DataFrame(data)
df

  Category
0        a
1        b
2        b
3        c
4        a

In [11]:
df['Ce']=le.fit_transform(df['Category'])
df

  Category  Ce
0        a   0
1        b   1
2        b   1
3        c   2
4        a   0