In [1]:
#  Write a python program to implement Reshaping/Transform data- Conversion of
# Categorical values in Numeric format for a given dataset.( LabelEncoder or One â€“
# Hot Encoder).[use any dataset]

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
data={
    'category':['A','C','B','A','D','B','B','B']
}
df=pd.DataFrame(data)
df

  category
0        A
1        C
2        B
3        A
4        D
5        B
6        B
7        B

In [7]:
label_encoder=LabelEncoder()
df['category_encoded']=label_encoded.fit_transform(df['category'])
print(df)

NameError: name 'label_encoded' is not defined