In [1]:
# Assignment No 3

In [3]:
# Write a Program to implement Data cleaning -find all null values/missing values
# in a given dataset and remove them. [use diabetes_null_values dataset] ]

In [5]:
import pandas as pd
df=pd.read_csv('diabetes_null_values.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,0.0,33.6,0.627,50,1
1,1,85,66,29.0,NaN,26.6,0.351,31,0
2,8,183,64,NaN,0.0,23.3,0.672,32,1
3,1,89,66,23.0,94.0,28.1,0.167,21,0
4,0,137,40,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48.0,180.0,32.9,0.171,63,0
764,2,122,70,27.0,0.0,36.8,0.340,27,0
765,5,121,72,23.0,112.0,26.2,0.245,30,0
766,1,126,60,0.0,0.0,30.1,0.349,47,1
767,1,93,70,31.0,0.0,30.4,0.315,23,0

In [11]:
null_row=df.isnull()
print("The NUll rows are : /n",null_row)

The NUll rows are : /n      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin    BMI  \
0          False    False          False          False    False  False
1          False    False          False          False     True  False
2          False    False          False           True    False  False
3          False    False          False          False    False  False
4          False    False          False          False    False  False
..           ...      ...            ...            ...      ...    ...
763        False    False          False          False    False  False
764        False    False          False          False    False  False
765        False    False          False          False    False  False
766        False    False          False          False    False  False
767        False    False          False          False    False  False

     DiabetesPedigreeFunction    Age  Outcome
0                       False  False    False
1                       False  False    False
2                       False  False    False
3                       False  False    False
4                       False  False    False
..                        ...    ...      ...
763                     False  False    False
764                     False  False    False
765                     False  False    False
766                     False  False    False
767                     False  False    False

[768 rows x 9 columns]

In [15]:
Remove_row=df.dropna()
print("The after remove the null rows : /n",Remove_row)

The after remove the null rows : /n      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72           35.0      0.0  33.6
3              1       89             66           23.0     94.0  28.1
4              0      137             40           35.0    168.0  43.1
5              5      116             74            0.0      0.0  25.6
6              3       78             50           32.0     88.0  31.0
..           ...      ...            ...            ...      ...   ...
763           10      101             76           48.0    180.0  32.9
764            2      122             70           27.0      0.0  36.8
765            5      121             72           23.0    112.0  26.2
766            1      126             60            0.0      0.0  30.1
767            1       93             70           31.0      0.0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
3                       0.167   21        0
4                       2.288   33        1
5                       0.201   30        0
6                       0.248   26        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[766 rows x 9 columns]